.settings/
Backup/
BetaDigger/
Cache/
DB/
DelimiterFinder/
Docs/
Experimenteel/
Help/
Kalender/
Presentatie/
Screenshots/
*.lnk
*.chm
*.wrx
*.r
DataDigger-*.ini
DataDigger.log
DataDigger.ini
image/Thumbs.db
.project
.propath
