.settings/
Backup/
BetaDigger/
Cache/
DB/
DelimiterFinder/
Docs/
Dump/
Experimenteel/
Help/
Kalender/
Presentatie/
Screenshots/
Start/
*.bak
*.bat
*.lnk
*.chm
*.wrx
*.r
debugger.pref
wDataDigger.wrx
myDataDigger.p
DataDigger-*.ini
DataDigger.log
DataDigger.ini
image/Thumbs.db
protrace*
.project
.propath